:root {
  --primary-text-color: #1E293B;
  --hover-background-color: #D1D5DB;
  --primary-background-color: #F1F5FF;
  --primary-border-color: lightgray;
  --primary-white-color: #fff;

  --dark-primary-background-color: darkblue;
  --dark-secondary-background-color: darkslategray;

}

body {
  color: var(--primary-text-color);
  height: 100vh;
}

.app-container.dark {
  background: var(--primary-text-color);
  color: var(--primary-background-color)
}

.app-header {
  display: flex;
  justify-content: space-between;
}

.theme-img {
  padding: 1rem;
  cursor: pointer;
}

.movie-container {
  display: flex;
}

button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit
}


@media screen and (max-width: 768px) {
  body {
    font-size: 0.75rem;
  }

  .star-wars-logo {
    width: 100px;
    height: 50px;
    object-fit: contain;
  }

  .theme-img {
    width: 20px;
    height: 20px;
  }

  .movie-container {
    flex-direction: column;
  }
}